@import 'https://fonts.googleapis.com/css?family=Muli';
@import 'https://maxcdn.bootstrapcdn.com/font-awesome/4.7.0/css/font-awesome.min.css';

body { background: #fff url("images/bg.jpg") repeat-x top fixed; font-family: 'Muli',sans-serif; font-size: 17px; }
h1 { color: #000; font-size: 28px; font-weight: normal; text-decoration: none; }
h2 { color: #333; font-size: 20px !important; font-weight: bold; text-decoration: none; }

.navbar { font-size: 15px !important; }
.navbar-inverse { border:0px !important; }
.navbar-brand, .navbar-nav li a { line-height: 150px; height: 150px; padding-top: 0; text-transform: uppercase; }
.navbar-nav li a { background-color: #fff;  }
.navbar-brand { margin-left:0px !important; margin-right: 10px !important; }

/* Menu personalizado */
.navbar-custom { color:#FFF !important; background: #fff !important; margin-bottom:-20px; }
.navbar-nav a {   font-size: 15px; text-align: center; color: #294B8B !important; }
.navbar-nav a:hover { background-color: #294B8B !important; color: #fff !important; }

/* Botão Collapse */
.navbar-custom .navbar-toggle { border:1px solid #fff; color:#fff !important; background-color: green; }
.navbar-custom .navbar-toggle span { background-color: #fff !important; }
.navbar-custom .navbar-toggle:focus, .navbar-custom .navbar-toggle:hover { background-color:#f7f7f7 !important; }
.navbar-custom .navbar-toggle:focus span, .navbar-custom .navbar-toggle:hover span { background-color:#391212 !important; }

/* Slide */
.slide { border:1px inset #111 !important; }
.slide img { padding:2px;/* max-height: 200px;*/ }

/* Vitrine */
.menu img { margin-bottom: 10px; }
.panel-custom { background: #294B8B !important; color: #fff !important; border-radius:0px; }
.btn-left { text-align: left; }

.btn-text { transition-duration: .3s; text-decoration: none !important; color:#294B8B !important; border-radius: 0px; background-color: #fff ; border:1px solid #294B8B ; white-space: normal; margin:5px;   }
.btn-text:hover { padding-left: 20px; font-weight: bold !important; background-color: #E7EBF3; border: 1px solid #294B8B; -webkit-box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,.07); -moz-box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,.07); box-shadow: inset 0px 0px 5px 5px rgba(0,0,0,.07); }
.btn-text:hover::after{ transition-delay: 1.5s; content: " \27A1  "; }

/* Containers */
.slide-col { background-color: #fff;  padding:0 30px; }
.container-content { padding:20px 0px; background-color: #fff; text-align: justify; }
.container-footer { font-size: 13px; color:#333; background-color: #fff; }

.carousel-control { width:5%; color: #FFF !important; background: transparent !important; opacity: 0.2; }

/* Fixes */
.navbar-custom .navbar-collapse, .navbar-inverse .navbar-form { border:0px solid #fff; }
.img-center { margin:0 auto; }

/* TOPO */
.col-top { border: 1px solid #fff; text-align: right; font-size: 14px !important; min-height: 120px; }
.col-top h1 { font-size: 16px; }

/*Social*/
.btn-social { padding-top:5px; }
.btn-social .btn { margin-bottom:5px !important; width: 175px; }

/* Fix screens */
 @media (max-width: 460px) and (min-width:1px) {
  .container-slide  { display: none; }
  .navbar-nav li a { line-height: 50px; height: 50px; padding-top: 0; }
  h1 { text-align: center; font-size: 20px; }
  .col-top { text-align: center !important; padding-bottom: 10px; }
}

@media (max-width: 992px) and (min-width: 461px) {
  .navbar-nav li a { line-height: 60px; height: 60px; padding-top: 0; }
}

@media (max-width: 1200px) and (min-width: 993px) {
  .navbar-nav li a { line-height: 70px; height: 70px; padding-top: 0; }
}

@media (max-width: 1028px) {
  .container-content { text-align: left; }
  .navbar-header { float: none; margin:0px !important; }
  .navbar-toggle { display: block; }
  .navbar-collapse { border-top: 1px solid transparent; box-shadow: inset 0 1px 0 rgba(255,255,255,0.1); }
  .navbar-collapse.collapse { display: none !important; }
  .navbar-collapse.collapse.in { display: block !important; }
  .navbar-main { padding:0px; background-color: #fff;}
  .navbar-nav { float: none!important;}
  .navbar-nav>li { float: none; background-color: #fff; }
  .navbar-nav>li>a { padding-top: 0px; padding-bottom: 10px; padding-left:30px; text-align: left; }
  .navbar-nav a { width:100%; }
}

@media (max-width: 460px) and (min-width:1px) {
  .navbar-default .navbar-nav > li > a { line-height: 5px; }
}


/**/
.carousel img { width:100% }
.carousel-caption { background-color: rgba(0,47,103,0.7); position: absolute; right: 0; bottom: 0px; left: 0; z-index: 10; padding: 3px 0px 8px 10px; width: auto !important; color: #fff; text-align: left; }
.carousel-caption h3 { margin-bottom: 0; margin-top: 6px !important; text-align: left; text-shadow: 2px 1px 2px rgba(0,0,0,0.9); }
.carousel-caption p { margin-top: 0; font-size: 14px; text-align: left; }
.carousel-control { width: /*15%*/ 8% }
.carousel-indicators { bottom: 2px }
.carousel-indicators .active { background: #FDF7DE }
